body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:lightblue
}

.calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #101010;
    border-radius: 10px;
    background-color: #f4eaea;
    
}

input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #db9bd9;
    color: rgb(238, 231, 231);
    border: none;
    border-radius: 5px;
    
}
button.active {
    background-color: #347bff; 
}
button:hover {
    background-color: #ae63a2;
}

 .head{
    color: #f8f7f7;
    text-align: center;
    text-decoration: underline;
    
}


